<h1>Edit Client</h1>
<%= render partial: "form", locals: { client: @client } %>
<p>
  <%= link_to "Delete", @client, method: :delete, data: { confirm: "Are you sure you want to delete this client?" } %>
</p>
