<h1>Clients <%= link_to "+ New", new_client_path %></h1>
<% if @clients.any? %>
<div class="row">
  <div class="hidden-xs col-sm-3">
    <h3>Name</h3>
  </div>
  <div class="hidden-xs col-sm-3">
    <h3>Email</h3>
  </div>
  <div class="hidden-xs col-sm-3">
    <h3>Phone #</h3>
  </div>
  <div class="hidden-xs col-sm-3">
    <h3>Appointments</h3>
  </div>
</div>
<% else %>
<p>No clients yet.</p>
<% end %>
<%= render partial: "client_index", collection: @clients, as: :client %>
