// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appointment, .client, .location {
  line-height: 10px; 
  margin-bottom: 25px;
}