$link-color: blue;
$link-hover-color: lighten($link-color, 55);
$nav-color: #FFC970;
$menu-item-background-color: $nav-color;
$menu-item-hover-background-color: darken($nav-color, 15);

body.home {
  background: url('https://images.unsplash.com/photo-1421757295538-9c80958e75b0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3628f27cd5768ece147877e2dd792c6c') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

body {
  margin: 0; 
  padding: 0;
}

.home .main {
  text-shadow: 2px 2px black;
  text-align: center;
}

.container {
  width: 85%; 
  margin: 0 auto;
}

a, a:hover {
  text-decoration: none !important;
}
nav {
  background: $nav-color;
}
.main-menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:none;
  li {
    display: inline-block;
    padding: 0;
    margin-right: -4px;
    transition: background 0.3s ease;
    background: $menu-item-background-color;
  }
  li:first-child {
    border-left: 1px solid $menu-item-hover-background-color;
  }
  li:hover {
    background: $menu-item-hover-background-color;
  }
  a, a:visited {
    text-decoration: none;
    color: $link-color;
    box-sizing: border-box;
    padding: 20px;
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
  }
  a:hover {
    color: $link-hover-color;
  }
  .right {
    float: right;
    a {
      padding: 20px 15px;
    }
  }
}

h1 a {
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 26px;
    padding: 2px 8px;
    font-size: 60%;
    position: relative;
    top: -5px;
}
h1 a:hover {
  color: white;
}

// Form Styles //

form {
    width: 400px;
    border: 2px solid black;
    padding: 30px 20px;
    border-radius: 5px;
    background: lightgray;
}
form h3 {
  margin-top: 0;
}
label {
    display: inline-block;
    width: 75px;
    
}

input[type="submit"] {
  margin-left: 80px;
}

label:after {
  content: ":";
}

.field_with_errors {
    display: inline-block;
    color: red;
    font-weight: bold;
    
    input[type=text] {
      border: 2px solid red;
    }
}

.btn.btn-primary{
  background-color: blue;
}

.btn.btn-secondary {
    background-color: lightcyan;
}

@media screen and (max-width: 768px) {
   .client .btn-secondary, .client .btn-danger {
        margin-top: 20px;
    } 
}
