<h1>Edit Appointment</h1>
<%= render partial: "form", locals: { appointment: @appointment } %>
<p>
  <%= link_to "Delete", @appointment, method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %>
</p>