<div class="row">
  <div class="col-md-4">
    <h1>Edit Appointment</h1>
    <%= render partial: "form", locals: { appointment: @appointment, client: @client, location: @location } %>
    <p>
      <%= link_to "Delete", @appointment, method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %>
    </p>
  </div>
  <div class="col-md-8">
    <%= add_weekly_calendar(@appointments) %>    
  </div>
</div>



